
.footer{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    background-color: #f3f3f3;
    margin-top: 148px;
}
.footer>#container1>img{
    margin-right: 25px;
}
.footer>#container2{
   
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}