#paymentOptions{
    width: 60%;
    margin-top: 25px;
    /* border: 1px solid red; */
}
#TPA{
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding-right: 50px;
}
#PM{
    width: 91%;
    /* border: 1px solid black; */
    margin-left: 80px;
}
#paymentMethods{
    /* border: 1px solid black; */
    padding-left: 85px;
    font-family: Avenir-Next,sans-serif;
    margin-top: 15px;
}

#paymentMethods>input{
    margin-bottom: 30px;
}
#paymentMethods>label{
    font-weight: bold;
}

#paymentMethods>.postpaidmsg{
    color: red;
}


#cvv{
    /* border: 1px solid red; */
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#cvvNumber{
    width: 65px;
    height: 35px;
    border: 2px solid rgb(216, 212, 212);
}
.cvvImage{
    display: none;
}

.details{
    margin-bottom: 15px;
    margin-top: 10px;
    width: 350px;
    height: 35px;
    border: 2px solid rgb(216, 212, 212);
}

#date{
    display: flex;
}

#date p, select{
    margin-right: 15px;
}
#date select{
    height: 35px;
    width: 60px;
    border: 1px solid rgb(216, 212, 212);
}

#creditCardForm{
    margin-bottom: 40px;
    margin-left: 40px;
    display: none;
}

#i{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
}
#i:hover+.cvvImage{
    display: block;
}
.cvvImage{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 400px;
}

#paymentViewPage{
    display: flex;
    justify-content: space-around;
}

#placeOrderBox{
    /* border: 1px solid green; */
    width: 25%;
    margin-top: 25px;
}

.Overview{
    padding: 0px 20px 0px 20px;
    background-color: #f2f2f2;
    border:1px solid #f2f2f2;
}

.Overview>div{
    display: flex;
    justify-content:space-between;
    
}

#btn{
    width: 100%;
    margin-top: 15px;
    height: 50px;
    background-color: #f39;
    color: white;
    border: 0px;
    cursor: pointer;
    font-size: 18px;
}

/********************************************************************** */

body{
    margin: 0px;
}
#header{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 0px 200px 0px 100px;
}

#logo_box>a>img{
    width: 30%;
}
#profile{
    /* border: 1px solid black; */
    text-align: center;
    cursor: pointer;
}
#navbar{
    display: flex;
    /* border: 1px solid black; */
    background-color: blue;
}
#checkout_h3{
    color: white;
    margin-left: 100px;
}
#checkout-options{
    /* border: 1px solid red; */
    display: flex;
    font-size: 20px;
    margin-left: 400px;
    align-items: center;
}
.spantag{
    color: white;
    text-decoration: none;
}
#checkout-options>div{
    margin-right: 10px;
}


/* userBox */

#userBox{
    width: 150px;
    height: 200px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    right: 70px;
    top: 50px;
    background-color: white;
    display: none; 
}


.userdetails{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.userdetails>img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
a{
    text-decoration: none;
    color: black;
}